@page
@model IdentityService.Pages.Register.Index

<div>
    <partial name="_ValidationSummary" />
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h2>
                        Register
                    </h2>
                </div>
                <div class="card-body">
                   <form asp-page="/Account/Register/Index">
                            <input type="hidden" asp-for="Input.ReturnUrl" />

                            <div class="form-group">
                                <label asp-for="Input.UserName"></label>
                                <input class="form-control" placeholder="Username" asp-for="Input.UserName" autofocus>
                            </div>
                                 <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input class="form-control" placeholder="Email" asp-for="Input.Email" >
                            </div>
                              <div class="form-group">
                                <label asp-for="Input.FullName"></label>
                                <input class="form-control" placeholder="FullName" asp-for="Input.FullName" >
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input type="password" class="form-control" placeholder="Password" asp-for="Input.Password" autocomplete="off">
                            </div>
                         
                            <a  class="pb-2 d-block" asp-page="../Login/Index" >Alredy registred ? Login Here !</a>
                            <button class="btn btn-primary" name="Input.Button" value="register">Register</button>
                            <button class="btn btn-secondary" name="Input.Button" value="cancel">Cancel</button>
                        </form>
                </div>
                @if(Model.RegisterSuccess)
                {
                    <div class="alert alert-success mt-2">
                        <strong>Register Success</strong> -You Can now login
                    </div>
                }
                else if(Model.ExceptionsHandler.Count>0){
                    foreach(string x in Model.ExceptionsHandler){
                      <div class="alert alert-danger mt-2">
                        <strong>@x</strong>
                    </div>  
                    }
                }
            </div>
        </div>
    </div>
</div>
